<div class="row">

    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoprincipal.jpg" id="logoprincipal">
        </div>

        <div class="redes">
            <a href=""><img src="../../../assets/linkedIn.png" id="linkedIn"></a>
            <a href=""><img src="../../../assets/github.png" id="github"></a>
            <a href=""><img src="../../../assets/instagram.jfif" id="instagram"></a>
            
        </div>
        <div class="boton">
            <button type="button" class="btn btn-dark"> Iniciar sesión</button>

        </div>
        
    </div>
</div>

