<div class="row">

    <h1>Formación académica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educar 1</h1> - <h3>años</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi maxime atque quidem, rem, nesciunt architecto voluptatum quibusdam laborum distinctio ut sequi eligendi! Veritatis esse saepe vitae pariatur illo sit.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Educar 2</h1> - <h3>años</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi maxime atque quidem, rem, nesciunt architecto voluptatum quibusdam laborum distinctio ut sequi eligendi! Veritatis esse saepe vitae pariatur illo sit.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Educar 3</h1> - <h3>años</h3>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi maxime atque quidem, rem, nesciunt architecto voluptatum quibusdam laborum distinctio ut sequi eligendi! Veritatis esse saepe vitae pariatur illo sit.</p>
                      
    