<div class="row">

    <h1>Experiencia laboral  </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Abogado Asistente-Secretaria</h1> - <h3>Rosario, Argentina. 2020-2022</h3>
                <p> Escritorio Jurídico Bonetto Palacios.
                    Asistencia administrativa del estudio, gestión de agenda,
                    seguimiento de expedientes, introducción de demandas,
                    reclamos extrajudiciales, trámites judiciales e institucionales,
                    asesoría tributaria, intimaciones de pago.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Secretaria de Tribunal</h1> - <h3>Mérida, Venezuela. 2018-2019</h3>
                <p>Tribunal Superior Agrario de la Circunscripción Judicial de Mérida. Abogado asistente, redacción de autos, seguimiento de expedientes y traslado en inspecciones judiciales. Secretaria Judicial-Gestion y administración de Tribunal</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Instructor de Lenguaje Musical</h1> - <h3>Mérida-Venezuela. 2014-2018</h3>
                <p>Programa de Educación Especial: Cátedra de Flauta Dulce y Campanas Instructor de lenguaje musical, armonía base y ejecución instrumental de flauta dulce, campanas y canto popular venezolano, dirigido a niños y jóvenes regulares y con condiciones especiales como Autismo, Asperger, TDHA y Síndrome de Down</p>
        </ul>

    </div>

</div>