<div class="row">
    <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Valeri Contreras Edilin Alecimar</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex porro provident numquam, voluptates delectus quia error, aut ea quis distinctio suscipit praesentium, qui accusantium totam velit quasi culpa impedit sapiente!</p>
        </span>
    </div>
</div>