<div class="row">
    <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}} Edilin Valeri</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p> Soy abogado y músico, con interés en la tecnología. Actualmente me encuentro estundiando programación de videojuegos, con el
                objetivo de desempeñarme en dicha área. Por lo que estoy en búsqueda de una oportunidad laboral que me permita comenzar a
                hacer carrera</p>
        </span>
    </div>
</div>