.row{
    background: rgb(158, 22, 18);
}

footer{
    color: rgb(187, 206, 204);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(255, 255, 255);
}